*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root {
    --txtClr: hsl(200, 15%, 8%);
    --lightInput: hsl(0, 0%, 52%);
    --BgClr: hsl(0, 0%, 98%);
}

.darkMode {
    --darkEl: hsl(209, 23%, 22%);
    --BgClr: hsl(207, 26%, 17%);
    --txtClr: hsl(0, 0%, 100%);
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans';
    font-size: 14px;
    color: var(--txtClr);
    background: var(--BgClr);
    transition: all 0.4s linear;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

nav {
    width: 100%;
    background: var(--darkEl);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.8em;
    box-shadow: -4px -5px 14px rgba(0,0,0,0.5);
}

#toggle-dark-mode {
    cursor: pointer;
    margin-right: 1px;
}



.brand {
    color: var(--txtClr);
    font-weight: 800;
    font-size: 20px;
}

.brand:hover {
    text-decoration: underline;
}

#countries_Listed {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    margin: 3em auto;
    grid-gap: 5em;
}


.detail > span {
    display: block;
}

.box {
    color: var(--txtClr);
    box-shadow: 1px 2px 9px rgba(0,0,0,0.5);
    background: var(--darkEl);
    transition: all 0.3s ease-in-out;
}

.box:hover {
    transform: scale(1.1);
}

.box > img {
    height: 160px;
    object-fit: cover;
}

.bottom_content {
    padding: 0em 1em 2em;
}

.bottom_content span:not(:last-child) {
    margin-bottom: 4px;
}

.bottom_content h2 {
    font-size: 22px;
}
 
#filtering {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 3em auto;
    align-items: center;
    position: relative;
}

#filtering i {
    position: absolute;
    top: 29%;
    left: 1%;
 }
 .icon {
    padding: 15px;
    color: rgb(49, 0, 128);
    width: 70px;
    text-align: left;
 }
 .Field {
    font-weight: 300;
    padding: 10px 20px 10px 40px;
    width: 400px;
    background: var(--darkEl);
    color: var(--txtClr);
}

.dropDown_filter,
.Field {
    box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 6px;
    border: none;
    outline: none;
    height: 39px;
    font-size: 14px;

 }

 .dropDown_filter {
    width: 200px;
    padding: 0 20px;
    background: var(--darkEl);
    color: var(--txtClr);
    appearance: none;
    -webkit-appearance: none;
 }

 ::placeholder {
    color: var(--txtClr);
 }

 #countryDetail {
     width: 90%;
     margin: 2em auto;
 }

 .country_detail__container {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-column-gap: 7em;
     color: var(--txtClr);
     font-size: 16px;
 }

.country_detail__container img {
    box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
}

 .country_detail__container h2 {
        font-size: 32px;
 }

 .content__grid span {
     display: block;
     margin-bottom: 4px;
 }
 .content__grid {
     display: flex;
     justify-content: space-between;
     width: 95%;
 }

 .container {
     width: 90%;
     margin: 3em auto;
 }

 .back_btn {
     background: var(--darkEl);
     color: var(--txtClr);
     padding: 10px 20px;
     box-shadow: 2px 2px 12px rgba(0,0,0,0.5);
    }
    
    .Country_borders {
        margin-top: 50px;
    }
    
    .Country_borders button {
    box-shadow: 2px 2px 12px rgba(0,0,0,0.5);
    border: none;
    outline: none;
    padding: 7px 14px;
    margin-left: 10px;
    background: var(--darkEl);
    color: var(--txtClr);
    pointer-events: none;
    margin-bottom: 20px;
 }

/* responsive */
@media (max-width: 1019px) {
    #countries_Listed {
        grid-template-columns: 1fr 1fr;
    }
    .country_detail__container {
        grid-column-gap: 2em;
    }
}

@media (max-width: 919px) {
    .country_detail__container {
        grid-template-columns: 1fr;
    }

    .country_detail__container img {
        width: 81%;
    }

    .content__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    
}

@media (max-width: 549px) {
    .country_detail__container img {
        width: 100%;
    }
    .content__grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 873px) {
  input[type="text"] {
      padding-left: 4em;
  }

 #filtering i {
     left: 3% ;
 }

}

@media (max-width: 703px) {
    #countries_Listed {
        grid-template-columns: 1fr;
    }

    input[type="text"] {
        width: 100%;
        padding-left: 3em;
        margin-bottom: 12px;
    }

    #filtering {
        display: block;
    }

    #filtering i {
        left: 4%;
        top: 16%;
    }
}

@media (max-width: 465px) {
    nav {
        padding: 0 26px;
    }

    .box:hover {
        transform: scale(1);
    }
}

@media (max-width: 371px) {
   .fa-moon-o {
       display: none;
   }

   .dark-mode__Txt,.brand {
       font-size: 14px;
   }
}
